<link rel="stylesheet" type="text/css" href="/css/list_interviews.css">
<main>
    <div id="btn-add-interview"><a href="/interview/new-interview">Add interview</a></div>
    <div class="interview-container">

        <% 
            for(let interview of interviews)  
            {%> 
                <div class="single-interview-container">
                    <div class="nam-bat-id-container">
                        <div class="text-1"><%= interview.company.name %></div>
                        <div class="text-1"><%= interview.job_profile %></div>
                        <div class="text-2"><%= interview.interview_date %></div>
                    </div>
                    <div class="students-container">
                        <% 
                            for(let student of interview.students) {%> 
                                <div class="single-student-container">
                                    <div class="text-1"><%= student.name %></div>
                                    <div class="text-1"><%= student.name %></div>                                
                                    <div class="text-1"><%= student.name %></div>
                                </div>      
                            <%}
                        %>
                    </div>
                    <div class="actions-container">
                        <div class="action-1"><button>Add Student</button></div>
                        <div class="action-1">More Details</div>
                    </div>
                </div>
            <%}
        %>
        <div class="single-interview-container">
            <div class="nam-bat-id-container">
                <div class="text-1">Amazon</div>
                <div class="text-1">25th April 2020</div>
                <div class="text-2">1fgt34f6u</div>
            </div>
            <div class="actions-container">
                <div class="action-1"><button>Add Student</button></div>
                <div class="action-1">More Details</div>
            </div>
        </div>
    </div>
</main>
<script src="/js/list_interview.js"></script>