<link rel="stylesheet" type="text/css" href="/css/list_students.css">
<script src="/js/list_students.js"></script>
<script src="/js/date_format.js"></script>
<main>
    <div id="filter-container">
        <div>
            <form method="POST" action="/students/filter/results" id="result-filter-form">
                <div class="label input-initial">Filter by Results</div>
                <select class="input-initial" name="result" id="filter-result-select">
                    <option name="status" value="all">Select Filter</option>
                    <% 
                        for(let resultStatus of resultStatuses) {%>
                            <option name="status" value="<%=resultStatus.value%>"><%=resultStatus.name%></option>    
                        <%}
                    %>
                    <option value="all">No Filter</option>
                </select>
            </form>
        </div>
        
        <div>
            <form method="POST" action="/students/filter/results" id="interview-filter-form">
                <div class="label input-initial">Filter by Interview</div>
                <select class="input-initial" name="interview" id="filter-interview-select">
                    <option value="all">Select Filter</option>
                    <% 
                        for(let interview of interviews) {%>
                            <option name="interview-id" value="<%=interview._id%>"><%=interview.company.name%></option>    
                        <%}
                    %>
                    <option value="all">No Filter</option>
                </select>
            </form>
        </div>

        <div>
            <form method="POST" action="/students/filter/results" id="batch-filter-form">
                <div class="label input-initial">Filter by Batch</div>
                <select class="input-initial" name="batch" id="filter-batch-select">
                    <option value="all">Select Filter</option>
                    <% 
                        for(let batch of batches) {%> 
                            <option name="batch" value="<%=batch.value %>"><%=batch.name%></option>    
                        <%}
                    %>
                    <option value="all">No Filter</option>
                </select>
            </form>
        </div>

    </div>
    <div class="students-container">
        <% 
            for(let student of students)  
            {%> 
                <div class="single-student-container">
                    <div class="nam-bat-id-container">
                        <div class="headers">Student Details</div>
                        <div class="text-1"><%= student.name %></div>
                        <div class="text-2"><%= student.batch %></div>
                        <div class="text-2"><%= student._id %></div>
                    </div>
                    <div class="interviews-container">
                        <div class="headers">Interviews Scheduled</div>
                        <% 
                            for(let interview of student.interview_scheduled_with_companies) {%> 
                                <div class="single-interview-container">
                                    <div class="text-3"><%= interview.company.name %></div>
                                    <div class="text-3 date"><%= interview.interview_date %></div>
                                    <form method="POST" action="/students/add-result/?sid=<%=student._id%>&iid=<%=interview._id%>">
                                        <select name="result" id="result-select" class="input-initial">
                                            <option value="none">Select Result</option>
                                            <option value="0">Pass</option>
                                            <option value="1">Fail</option>
                                            <option value="2">On Hold</option>
                                            <option value="3">Didn't Attempt</option>
                                        </select>
                                        <button class="input-initial" id="btn-new-result" type="submit">Add Result</button>    
                                    </form>
                                </div>      
                            <%}
                        %>
                    </div>
                    <div class="results-container">
                        <div class="headers">Results</div>
                        <% 
                            for(let result of student.results) {%> 
                                <div class="single-result-container">
                                    <div class="text-3"><%= result.interview.company.name %></div>
                                    <div class="text-3 date"><%= result.interview.interview_date %></div>
                                    <div class="text-3 status"><%= result.status %></div>
                                </div>      
                            <%}
                        %>
                    </div>
                    <div class="actions-container">
                        <div class="action-1"><a href="/students/<%=student._id%>/new-interview">Add Interview</a></div>
                        <div class="action-1">More Details</div>
                    </div>
                </div>
            <%}
        %>
    </div>
</main>
<script src="/js/list_students.js"></script>