<link rel="stylesheet" type="text/css" href="/css/list_students.css">
<script src="/js/list_students.js"></script>
<script src="/js/date_format.js"></script>
<main>
    <div class="students-container">
        <% 
            for(let student of students)  
            {%> 
                <div class="single-student-container">
                    <div class="nam-bat-id-container">
                        <div class="headers">Student Details</div>
                        <div class="text-1"><%= student.name %></div>
                        <div class="text-2"><%= student.batch %></div>
                        <div class="text-2"><%= student._id %></div>
                    </div>
                    <div class="interviews-container">
                        <div class="headers">Interviews Scheduled</div>
                        <% 
                            for(let interview of student.interview_scheduled_with_companies) {%> 
                                <div class="single-interview-container">
                                    <div class="text-3"><%= interview.company.name %></div>
                                    <div class="text-3 date"><%= interview.interview_date %></div>
                                    <form method="POST" action="/students/add-result/?sid=<%=student._id%>&iid=<%=interview._id%>">
                                        <select name="result" id="result-select" class="input-initial">
                                            <option value="none">Select Result</option>
                                            <option value="0">Pass</option>
                                            <option value="1">Fail</option>
                                            <option value="2">On Hold</option>
                                            <option value="3">Didn't Attempt</option>
                                        </select>
                                        <button id="btn-new-result" type="submit">Add Result</button>    
                                    </form>
                                </div>      
                            <%}
                        %>
                    </div>
                    <div class="interviews-container">
                        <div class="headers">Results</div>
                        <% 
                            for(let result of student.results) {%> 
                                <div class="single-interview-container">
                                    <div class="text-3"><%= result.interview.company.name %></div>
                                    <div class="text-3 date"><%= result.interview.interview_date %></div>
                                    <div class="text-3 status"><%= result.status %></div>
                                </div>      
                            <%}
                        %>
                    </div>
                    <div class="actions-container">
                        <div class="action-1"><a href="/students/<%=student._id%>/new-interview">Add Interview</a></div>
                        <div class="action-1">More Details</div>
                    </div>
                </div>
            <%}
        %>
    </div>
</main>
<script src="/js/list_students.js"></script>