<link rel="stylesheet" type="text/css" href="/css/list_interviews.css">
<main>
    <div class="interview-container">

        <% 
            for(let interview of interviews)  
            {%> 
                <div class="single-interview-container">
                    <div class="nam-bat-id-container">
                        <div class="text-1"><%= interview.company.name %></div>
                        <div class="text-1"><%= interview.job_profile %></div>
                        <div class="text-2"><%= interview.interview_date %></div>
                    </div>
                    <div class="students-container">
                        <% 
                            for(let student of interview.students) {%> 
                                <div class="single-student-container">
                                    <div class="text-1"><%= student.name %></div>
                                </div>      
                            <%}
                        %>
                    </div>
                    <div class="actions-container">
                        <div class="action-1"><a href="/interviews/<%=interview._id%>/new-student">Add Student</a></div>
                        <div class="action-1">More Details</div>
                    </div>
                </div>
            <%}
        %>
    </div>
</main>
<script src="/js/list_interview.js"></script>