<link rel="stylesheet" type="text/css" href="/css/list_external_github.css">
<main>
    <div class="heading">Github Jobs Api</div>
    <div class="job-container">
        <% 
            for(let i=0; i<jobs.length; i++)  
            {%> 
                <div class="single-job-container">
                    <div class="img-div">
                        <img src="<%= jobs[i].company_logo%>" alt="">
                    </div>
                    <div class="short-req-container">
                        <div class="company-name"><%=jobs[i].company%></div>
                        <div class="job-title"><%=jobs[i].title%></div>
                        <div class="job-location"><%=jobs[i].location%></div>
                    </div>
                    <div class="job-description">
                        <div><%=jobs[i].description%></div>
                    </div>
                </div>
            <%}
        %>
    </div>
</main>
